.containerr {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;

}

header {
    color: teal;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    position: absolute;
}

.edit {
    margin-top: 70px;
    font-size: larger;
}

.table {
    position: absolute;
}